<div class="small-12 medium-6 columns">
  <h1 class="text-center score">
    Today<br>
    <%= todays_points %><br>
    Left<br>
    <%= 10 - todays_points %>
  </h1>
  <h1 class="text-center score">
    Total<br>
    <%= total_points %>
  </h1>
</div>
