<div class="row">
  <div class="small-12 columns">
    <div class="text-center">
      <h1>Sight Words Practice</h1>
      <h2 class="subheader">Hi Layla!</h2>
      <hr>
      <p class="panel">
        Which game would you like to play?<br><br>
        <%= link_to "List One", list_one_path %><br>
        <%= link_to "List Two", list_two_path %><br>
        <%= link_to "List Three", list_three_path %><br>
        <%= link_to "Random Words", random_words_path %>
      </p>
    </div>
  </div>
</div>
