<div class="small-12 medium-6 columns">
  <h1 class="text-center score">
    Today<br>
    <span class="point-number"><%= todays_points %></span><br>
    Left<br>
    <span class="point-number"><%= todays_points <= 10 ? 10 - todays_points : 0 %></span>
  </h1>
  <h1 class="text-center score">
    Total<br>
    <span class="point-number"><%= total_points %></span>
  </h1>
</div>
