<div class="small-12 medium-6 columns">
  <h1 class="text-center">
    What sight word is this?<br><br>
    <span class="random-word"><%= word.name %></span>
  </h1>
  <hr>
  <div class="text-center">
    <%= link_to "Correct", "/points/#{word.id}/correct_answer/" , class: 'button success' %>
    <%= link_to "Incorrect", "/points/#{word.id}/wrong_answer/", class: 'button alert' %>
  </div>
</div>
