<div class="small-12 medium-6 columns">
  <h1 class="text-center">
    What sight word is this?<br><br>
    <span class="random-word"><%= word.name %></span>
  </h1>
  <hr>
  <div class="text-center">
    <p>
      <%= link_to "Correct", correct_answer_path(word.id) , class: 'button success' %>
      <%= link_to "Incorrect", wrong_answer_path(word.id), class: 'button alert' %>
    </p>
  </div>
  <div class="text-center">
    <p class="subheader">Difficulty: <%= word.difficulty.round(2) %></p>
  </div>
</div>
