<div class="row full-width">
  <div class="small-12 columns">
    <div class="text-center">
      <h1>Hi Layla! List Three</h1>
      <h3 class="subheader"><%= LIST_THREE.join(", ") %></h3>
    </div>
  </div>
  <hr>
  <% if @todays_points == 10 %>
    <%= render 'success', total_points: @total_points %>
  <% else %>
    <%= render 'points', todays_points: @todays_points, total_points: @total_points %>
    <%= render 'word', word: @word %>
  <% end %>
</div>
