<div class="row full-width">
  <div class="small-12 columns">
    <h1 class="text-center">Hi Layla! Random Words</h1>
  </div>
  <hr>
  <% if @todays_points == 10 %>
    <%= render 'success', total_points: @total_points %>
  <% else %>
    <%= render 'points', todays_points: @todays_points, total_points: @total_points %>
    <%= render 'word', word: @word %>
  <% end %>
</div>
